<!-- 上传中文插件 -->
<!-- 验证插件 -->
<script src="/static/plugins/jquery-validation/jquery.validate.min.js"></script>
<script src="/static/plugins/jquery-validation/localization/messages_zh.min.js"></script>
<!-- 针对当前主题进行简单封装，精简代码 -->
<script src="/static/sdtheme/scripts/sdvalidate.js"></script>
<script src="/static/plugins/bootstrap-fileinput/js/fileinput.min.js" type="text/javascript"></script>
<script src="/static/plugins/bootstrap-fileinput/js/locales/zh.js" type="text/javascript"></script>
<script src="/static/plugins/bootstrap-fileinput/themes/explorer-fa/theme.min.js" type="text/javascript"></script>
<script src="/static/plugins/bootstrap-fileinput/themes/fa/theme.min.js" type="text/javascript"></script>

<script>
    $(function () {
        //基本信息表单验证
        validatebasicInfo();
    });

    //正则表达式验证
    jQuery.validator.methods.names = function (value, element, param) {
        //如果为空，直接过
        if (value.length == 0) return true;
        if (/^((13[0-9])|(14[5|7])|(15([0-3]|[5-9]))|(18[0,5-9]))\d{8}$/.test(value)) {
            return true;
        } else {
            return false;
        }
    };

    //表单验证及AJAX提交
    function validatebasicInfo() {
        let $thisForm = $('#thisForm');
        $thisForm.sdvalidate({
            rules: {
                ImageName: {
                    maxlength: 24,
                    required: true
                },
                ImageInfo: {
                    required: true,
                    maxlength: 100,
                },

            },
            submitHandler: function (form) {
                //$('.btn.btn-primary').attr('disabled', true);
                let url = '{{ urlfor "ImageController.BasicInfoSave"}}';
                let data = $thisForm.serialize();
                $.sdpost(url, data, function (re) {
                    if (re.code === 0) {
                        layer.msg(re.msg,{icon:1,title:'成功',time:2000},function(){
                            // 清理掉图片缓存
                            $("#input-image").val("");
                            //$('.btn.btn-primary').attr('disabled', false);
                            //window.location.reload();
                        });
                    } else {
                        layer.alert(re.msg, { icon: 2, title: '失败' })
                    }
                });
                return false;
            }
        });
    }

    // 上传附件
    $("#input-b3").fileinput({
        language:'zh',                                          // 多语言设置，需要引入local中相应的js，例如locales/zh.js
        theme: "fa",                               // 主题
        uploadUrl: {{urlfor "ImageController.UploadImage"}},         // 上传地址
        minFileCount: 1,                                        // 最小上传数量
        maxFileCount: 1,                                        // 最大上传数量
        overwriteInitial: false,                        // 覆盖初始预览内容和标题设置
        showCancel:true,                                       // 显示取消按钮
        showZoom:true,                                         // 显示预览按钮
        showCaption:true,                                  // 显示文件文本框
        dropZoneEnabled:true,                          // 是否可拖拽
        uploadAsync: false,
        uploadLabel:"上传附件",                         // 上传按钮内容
        browseLabel: '选择附件',                            // 浏览按钮内容
        enctype: 'multipart/form-data',
        showRemove:true,                                       // 显示移除按钮
        msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
        browseClass:"btn btn-primary",                        // 浏览按钮样式
        uploadClass:"btn btn-warning",                        // 上传按钮样式
        removeClass:"btn btn-danger",
        uploadExtraData: {'uploadToken': 'SOME-TOKEN'},   // 上传数据
        hideThumbnailContent:false,                  // 是否隐藏文件内容
        fileActionSettings: {                               // 在预览窗口中为新选择的文件缩略图设置文件操作的对象配置
            showRemove: true,                                   // 显示删除按钮
            showUpload: true,                                   // 显示上传按钮
            showDownload: false,                            // 显示下载按钮
            showZoom: true,                                    // 显示预览按钮
            showDrag: false,                                        // 显示拖拽
            removeIcon: '<i class="fa fa-trash"></i>',   // 删除图标
            uploadIcon: '<i class="fa fa-upload"></i>',     // 上传图标
            uploadRetryIcon: '<i class="fa fa-repeat"></i>'  // 重试图标
        }
    });
    // 上传成功回调 同步结果
    $("#input-b3").on("filebatchuploadcomplete", function(event, preview, config, tags, extraData) {
        console.log('File Batch Uploaded', preview, config, tags, extraData);

        //layer.msg("上传附件成功");
        //setTimeout("closeUpladLayer()",2000)
    });
    // 上传失败回input-b3调 异步处理
    $('#input-b3').on('filebatchuploadsuccess', function(event, data, previewId, index) {
        if(typeof data.response.obj != "Array"){
            $("#input-image").val(JSON.stringify(data.response.obj));
            //document.getElementById("input-image")
        }
        layer.msg(data.response.msg);
        //tokenTimeOut(data);
    });
    // 上传失败回input-b3调
    $('#input-b3').on('fileerror', function(event, data, msg) {
        layer.msg(data.msg);
        //tokenTimeOut(data);
    });

    // 上传失败回input-b3调 异步处理
    $('#input-b3').on('fileuploaded', function(event, data, previewId, index) {
        if (data.response.code  == 0) {
            if(typeof data.response.obj != "Array"){
                $("#input-image").val(JSON.stringify(data.response.obj));
            }
        }

        layer.msg(data.response.msg);
    });



</script>