<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        支付宝
        <small>支付宝支付测试</small>
    </h1>
</section>


<section class="content container-fluid">
        <!-- 页面内容开始 -->
        <div class="row">
            <div class="col-md-12">
                <div class="box box-solid">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="btn-group">
                                    <button class="btn btn-info" href="javascript:;" onclick="AlipayFun()">
                                        <i class="fa fa-credit-card"></i> 支付</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">支付页面</h3>
                <div class="box-tools pull-right">
                    <span class="label label-primary">Label</span>
                </div><!-- /.box-tools -->
            </div><!-- /.box-header -->
            <div class="box-body">

                <div id="alipayform">
                    {{/*<a href="#" id="aid">*/}}
{{/*jjjjj*/}}
                    {{/*</a>*/}}
                </div>
            </div><!-- /.box-body -->
            <div class="box-footer">
                The footer of the box
            </div><!-- box-footer -->

        </div>


        <!-- 页面内容结束 -->


</section>