<section>
    <div class="header mrt20">
        <div class="logo">
            <a href="wap.html" ></a>
        </div>
        <div class="search">
            <a href="wap/search.htm"  target="_self">搜索</a>
        </div>

        <div class="search" style="margin-right: 0;">
            <a href="-login.htm"  target="_self" style="width: 0.7rem;padding-left: 0;background-image: none;padding: 0 0.2rem;text-align: center;">签到</a>
        </div>

    </div>

    <!-- 回到顶端-->
    <div class="backTop" style="display:none;">
        <a href="javascript:;" onclick="$('html,body').animate({scrollTop:'0px'})"></a>
    </div>

    <div class="index_focus swiper-container swiper-container-horizontal">
        <div class="swiper-wrapper">
            <div class="swiper-slide"> <a href="gameplay/wap-sbkcq.htm" ><img src="/static/pics.073img.com/h5/2019/04/30/fae1dce37ffdfd793e66f273e2cd4f5a.gif"  > </a>
            </div>
            <div class="swiper-slide"> <a href="gameplay/wap-yhjy.htm" ><img src="/static/pics.073img.com/h5/2019/04/29/1d16dba00f4939d72d5238284462754f.jpg"  > </a>
            </div>
            <div class="swiper-slide"> <a href="gameplay/wap-zytl.htm" ><img src="/static/pics.073img.com/h5/2019/04/16/8f17963b83c7cf929ed019c1df1e0258.gif"  > </a>
            </div>
            <div class="swiper-slide"> <a href="gameplay/wap-xxsgz-1.htm" ><img src="/static/pics.073img.com/h5/2019/04/23/0d3457fc1db65160f434a4cb06601780.gif"  > </a>
            </div>
        </div>
        <div class="swiper-pagination index_pagination"></div>
    </div>
    <!-- 公告 -->
    <div class="notice">
        <div class="noticeTit">
            <span><em>公告：</em><i></i></span>
        </div>
        <div class="noticeCont">
            <div class="notice-swiper-container">
                <div class="swiper-wrapper" style="display: block;">
                    <div class="swiper-slide"><a title="传奇来了5月4日-5月6日限时活动" href="wap/news/18052.html" >传奇来了5月4日-5月6日限时活动</a></div>
                    <div class="swiper-slide"><a title="三国计五一劳动节大量返利累充送大礼" href="wap/news/17979.html" >三国计五一劳动节大量返利累充送大礼</a></div>
                </div>
            </div>
        </div>
    </div>

    <div class="gameList mrt20">
        <div class="hd">
            <ul>
                <li><a href="javascript: void(0)" class="active" h5-wap-tab-id="0">热门</a></li>
                <li><a href="javascript: void(0)" h5-wap-tab-id="1">最新</a></li>
                <li><a href="javascript: void(0)" h5-wap-tab-id="2">排行</a></li>
                <li><a href="javascript: void(0)" h5-wap-tab-id="3">开服</a></li>
            </ul>
        </div>
        <div class="w710 bd">
            <div class="gameList_con h5-wap-tab-div h5-wap-tab-active h5-wap-hot-div" h5-wap-tab-id="0">
                <dl>
                    <dt><a href="wap/cqll/index.htm" ><img src="/static/pics.073img.com/h5/2019/04/20/3f2ccd5a73878562e8b0919f2662648d.jpg" ></a></dt>
                    <dd>
                        <h4><a href="wap/cqll/index.htm" >传奇来了-龙城战歌                                                    </a></h4>
                        <p><span>1110366人玩过</span><i>|</i><span>类传奇</span></p>
                        <p>
                            时下超火的正版传奇H5游戏！                            </p>
                    </dd>
                    <dd><a href="gameplay/wap-cqll.htm"  class="start">开始玩</a></dd>
                </dl>
            </div>
            <div class="gameList_con h5-wap-tab-div h5-wap-new-div" style="display: none;" h5-wap-tab-id="1">
                <dl>
                    <dt><a href="wap/yhjy/index.htm" ><img src="/static/pics.073img.com/h5/2019/04/17/4a12e06ba0d829c636ad679f0b392c19.gif" ></a></dt>
                    <dd>
                        <h4><a href="wap/yhjy/index.htm" >永恒剑域</a></h4>
                        <p><span>2306人玩过</span><i>|</i><span>热门仙侠</span></p>
                        <p>
                            登陆免费送V3 炫酷神翼美翻天                            </p>
                    </dd>
                    <dd><a href="gameplay/wap-yhjy.htm"  class="start">开始玩</a></dd>
                </dl>
            </div>

            <div class="gameList_con h5-wap-tab-div h5-wap-top-div" style="display: none;"  h5-wap-tab-id="2">
                <dl>
                    <dt>
                        <a href="wap/cqll/index.htm" ><img src="/static/pics.073img.com/h5/2019/04/20/3f2ccd5a73878562e8b0919f2662648d.jpg" ></a>
                    </dt>
                    <dd>
                        <h4><a href="wap/cqll/index.htm" >传奇来了-...</a></h4>
                        <p><span>1110366人玩过</span><i>|</i><span>类传奇</span></p>
                        <p>
                            时下最火的正版传奇类H5游戏，一起来战...        </p>
                    </dd>
                    <dd><a href="gameplay/wap-cqll.htm"  class="start">开始玩</a></dd>
                </dl>
            </div>

            <div class="gameList_con h5-wap-tab-div h5-wap-kaifu-div" style="display: none;" h5-wap-tab-id="3">
                <div>
                    <div class="gameList_kf_tit">
                    <span class="span1">今日开服<i><img src="/static/img5.073img.com/h5/wap/img/kf_icon1.jpg"  alt=""></i>
                    </span>
                    </div>
                    <div class="gameList_con2_new">
                        <div class="itemA" data-game-name="西游七十二变">
                            <dl>
                                <dt><a target="_self" href="gameplay/wap-qsrb.htm"  class="normalA"><img src="/static/pics.073img.com/sdk/2018/05/23/fe9f81970da7a778407bbe7058adb4d7.png" ></a></dt>
                                <dd class="dd">
                                    <h4><a target="_self" href="gameplay/wap-qsrb.htm"  class="normalA">西游七十二变</a></h4>
                                    <p><em>今日17:00-长安1375服</em></p>
                                </dd>
                                <dd class="zyBtnBox">

                                    <i data-isnotice="1" data-kaifuid="9320" class="remind">开服提醒</i>


                                    <a target="_self" href="gameplay/wap-qsrb.htm"  class="normalA"><i class="gamePlay">开始玩</i></a></dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="gameList_kf_tit">
                    <span class="span2">即将开服<i><img src="/static/img5.073img.com/h5/wap/img/kf_icon2.jpg"  alt=""></i>
                    </span>
                    </div>
                    <div class="gameList_con2_new">
                        <div class="itemA" data-game-name="传奇来了-龙城战歌">
                            <dl>
                                <dt><a target="_self" href="gameplay/wap-cqll.htm"  class="normalA"><img src="/static/pics.073img.com/h5/2019/04/20/3f2ccd5a73878562e8b0919f2662648d.jpg" ></a>
                                </dt>
                                <dd>
                                    <h4><a target="_self" href="gameplay/wap-cqll.htm"  class="normalA">传奇来了-龙城战歌</a></h4>
                                    <p><em>明日00:05-639服</em></p>
                                </dd>
                                <dd class="zyBtnBox">


                                    <i data-isnotice="1" data-kaifuid="9352" class="remind">开服提醒</i>


                                    <a target="_self" href="gameplay/wap-cqll.htm"  class="normalA"><i class="gamePlay">开始玩</i></a></dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="gameList_kf_tit">
                    <span class="span3">已经开服<i><img src="/static/img5.073img.com/h5/wap/img/kf_icon3.jpg"  alt=""></i>
                    </span>
                    </div>
                    <div class="gameList_con2_new" id="yetKfDiv">
                        <div class="itemA">
                            <dl>
                                <dt><a target="_self" href="gameplay/wap-cqll.htm"  class="normalA"><img src="/static/pics.073img.com/h5/2019/04/20/3f2ccd5a73878562e8b0919f2662648d.jpg" ></a>
                                </dt>
                                <dd>
                                    <h4><a target="_self" href="gameplay/wap-cqll.htm"  class="normalA">传奇来了-龙城战歌</a></h4>
                                    <p><em>05-04 18:00-635服</em></p>
                                </dd>
                                <dd class="zyBtnBox"><a target="_self" href="gameplay/wap-cqll.htm"  class="normalA"><i class="gamePlay">开始玩</i></a></dd>
                            </dl>
                        </div>
                    </div>
                </div>

                <div class="gameList_con2_more">
                    <a da-page="2" da-page_size="10" id="moreYetKfA" href="javascript:;" target="_self">
                        点击加载10条开服信息
                    </a>
                </div>
            </div>

        </div>
    </div>

</section>

