<style>
    .index_focus{margin-bottom: 0 !important;}

    .notice{width: 7.5rem;height: .58rem;line-height: .58rem;background: #feffe4;}
    .notice .noticeTit{width: 1.6rem;height: .58rem;line-height: .58rem;float: left;}
    .notice .noticeTit span{font-size: .26rem;color: #ff6537;display: block;text-align: right;}
    .notice .noticeTit span i{width: .24rem;height: .19rem;display: block;background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAATCAMAAAC9bj0JAAAAaVBMVEUAAAD/ZTf/ZTf/ZTf/ZTf/ZTf/ZTf/ZTf/ZTf/ZTf/ZTf/ZTf/ZTf/ZTf/ZTf/ZTf/ZTf/ZTf/ZTf/ZTf/ZTf/ZTf/ZTf/ZTf/ZTf/ZTf/ZTf/ZTf/ZTf/ZTf/ZTf/ZTf/ZTf/ZTf/ZTc73EP7AAAAInRSTlMAWqa7CPrY7uGclU47D31FFejIwbOtdVRG0Myjh2hnLyYca+V79QAAAI5JREFUGNOVkVkOwjAMRAfcLLRJ00LLvvr+hyQEyUKKP+j7suZJljyG0HTt1h/KdJl/4t5xZgXgdd4NkgfLTPv1R4SxbSTvDNMRKGK6QwiGN8BXCDciGnNeCcOZGbVgTmmAKgD8JzxnrIglq5yjXhHEGe0OxBhTdbnWlS0dKu0+bW5d/Uec/APQPojrCXgDR0IMHJVhbTkAAAAASUVORK5CYII=) no-repeat;float: right;position: relative;top: .2rem;margin-right: .1rem;background-size: .24rem .19rem;}
    .notice .noticeTit span em{float: right;}
    .notice .noticeCont{width: 5.5rem;height: .58rem;float: left;font-size: .26rem;color: #ff6537;overflow: hidden;padding: 0 .2rem;}
    .notice .noticeCont .swiper-slide{white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
    .notice .noticeCont a{color: #ff6537;}
</style>

<style>
    .load{position: relative;color: #555;text-align: center;margin-top: -0.7rem;}
    .load span{font-size: .3rem;}
</style>


<style>
    .sg{width: 7.5rem;height: 9.6rem;position: fixed;left: 50%;top: 50%;margin-left: -3.75rem;margin-top: -4.8rem;z-index: 9;display: none;}
    .sg img{width: 7.5rem;}
    .sg i{width: .56rem;height: .56rem;display: block;background: url("/static/img5.073img.com/h5tg/wap/close.png") no-repeat;background-size: .56rem .56rem;position: absolute;right: 1.05rem;top: 1.35rem;}
</style>
