<div class="loader" id="loaderDiv">
    <div class="loader-inner ball-spin-fade-loader">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <span id="loaderSpanText">正在跳转...</span>
</div>
<div class="gray" id="commonGray"></div>

<!-- 遮罩 -->
<div class="mask" style="display:none;"></div>

<!--开服提醒-->
<div class="zyy" style="display: none;" id="kaifuNoticeNoSubscribe">
    <div class="zyyCont">
        <img id="kaifuNoticeQrcode" src="#" alt="">
        <p>关注‘07073H5游戏’公众号，我们将在开服前通过公众号给您推送消息，敬请留意</p>
    </div>
    <div class="zyyBtnBox">
        <div class="closeTips">关闭提示</div>
    </div>
</div>

<div class="zyy" style="display: none;" id="kaifuNoticeOk">
    <div class="zyyCont">
        <p>恭喜预约成功，<em>届时将通过“07073H5游戏”公众号在开服前3分钟提醒您，</em>敬请留意！</p>
    </div>
    <div class="zyyBtnBox">
        <div class="closeTips">我知道了</div>
    </div>
</div>

<div class="zyy" style="display: none;" id="kaifuNoticeCancel">
    <div class="zyyCont">
        <p style="text-align: center">确认要取消“<em id="kaifuNoticeCancelGameName">传奇来了之玛法英雄</em>”的开服提醒</p>
        <!--p style="text-align: center">确认sdfdsf要取消</p-->
    </div>
    <div class="zyyBtnBox">
        <div class="zyyBtn zyyThink">再考虑一下</div>
        <div class="zyyBtn zyyCancel">确认取消</div>

    </div>
</div>

<div class="zyy" style="display: none;" id="kaifuNoticeThreeSecond">
    <div class="zyyCont">
        <p id="kaifuNoticeThreeSecondP">游戏马上开服，快进入游戏准备吧！</p>
    </div>
    <div class="zyyBtnBox">
        <div class="closeTips">我知道了</div>
    </div>
</div>