<div class="copyright">
    <p>芜湖乐善网络科技有限公司 版权所有 ©2002-2018 07073.com, All Rights Reserved.</p>
    <p>
        <a href="http://img5.073img.com/cert/zzdx.jpg"  target="_blank">电信增值业务许可:皖B2-20150022</a>
        <a target="_blank" href="http://www.miibeian.gov.cn/" >ICP备:皖B2-20150022-6</a>
    </p>
    <p>
        <a target="_blank" href="http://img5.073img.com/cert/www.jpg" >文网文:皖网文〔2018〕10760-279号</a>
    </p>
    <p>
        <a target="_blank" href="https://www.beian.gov.cn/portal/registerSystemInfo?recordcode=21010202000470" ><i></i>辽公网安备 21010202000470号</a>
    </p>
    <p>新闻：webgame#07073.com | 商务电话：0553-8827699</p>
    <p>抵制不良游戏 拒绝盗版游戏 注意自我保护 谨防受骗上当</p>
    <p>适度游戏益脑 沉迷游戏伤身 合理安排游戏时间 享受健康生活</p>
    <p>本游戏适合18岁以上用户 </p>
    <p>不含血腥暴力,恐怖,色情等妨害未成年人身心健康内容 <a style="color:red;" target="_blank" href="guard/process/index.htm" >家长监督</a></p>
    <p>芜湖县安徽新芜经济开发区东湾路科创中心</p>
    <p>纠纷处理方式：联系客服或依
        <a id="copyright_xieyi" href="javascript:;" h5-back-status="1">《用户协议》</a>约定方式处理
        <a target="_blank" href="http://sq.ccm.gov.cn/ccnt/sczr/service/business/emark/toDetail/ac0caedeb1d74ce1b02ebd3639bbed56"  title="互联网文化经营单位"><img src="/static/img5.073img.com/h5/pc/img/pc_www.png" ></a>
    </p>
</div>