<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, width=device-width" />
<meta name="format-detection" content="telephone=no">
<meta name="renderer" content="webkit">
<title>{{.pageTitle}}</title>
<meta name="description" content="07073h5游戏，为玩家提供最新最全最好玩的的手机网页游戏、微信小游戏，本站提供的所有h5小游戏、手机页游都可以直接在线免费玩，不用下载app应用，支持安卓苹果所有手机，h5游戏大全尽在07073" />
{{template "usershared/globalcss.html"}}
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="07073H5游戏">
