<!-- 分享 start -->
<div class="share h5-wap-share" style="display: none;"  id="gameplayGzDiv">
    <h4>分享到</h4>
    <div class="bdsharebuttonbox" id="share_native">
    </div>
    <div class="form">
        <input type="text" class="text h5-wap-curr-url" value="">
        <div class="btn h5-wap-copy-url" data-clipboard-action="copy" data-clipboard-target=".h5-wap-curr-url">复制</div>
    </div>

    <p>直接分享或复制链接给微信、QQ好友，领取奖励</p>

    <div class="close h5-wap-close-link"><img src="/static/img5.073img.com/h5/wap/img/share/close.png"  alt="关闭"></div>
</div>
